.container{
    display: flex;
}
.menu{
    flex: 1;
    background-color: var(--bgSoft);
    padding: 20px;
}
.content{
    background-color: var(--bg);
    flex: 4;
    padding: 20px;
}

.wrapper{
    display: flex;
    gap: 20px;
    margin-top: 20px;
}

.cards{
    display: flex;
    gap: 20px;
    justify-content: space-between;
}

.main{
    flex: 4;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.date{
    display: flex;
    margin: 20px 0px 20px 0px;
}

.divider{
    border: 2px solid var(--bgSoft);
}

.admin{
    color: var(--text);
    background: var(--bg);
}