.base{
    color: white;
    font-family: Manrope, sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px; /* 50% */
    height: 30px;
}

.cursor{
    background-color: #9DA653;
    border:3px;
}

.inputBase{
    height: 5rem;
    width: 60.25rem;
}

.wrapper{
    height: 100%;
}

.input{
    font-family: Manrope, sans-serif;
    font-size: 20px;
    color: black;
    padding: 18px 24px;
}
.input:focus{
    outline: none;
}

.border{
    visibility: hidden;
}

.color{
    color: white;
    font-family: Manrope, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px; /* 100% */
}

.selectedColor {
    color: #9DA653;
    font-family: Manrope, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px; /* 100% */
}

.pagination{
    background-color: var(--bgFooter);
}

